@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* TEXT AND BG COLORS */
  --white: #fff;
  --light-white: #c4cfde;
  --black: #000;
  --dark-black: #0b0b13;
  --primary: #3bbb5a;
  --light-primary: #edf9fe;
  --secondary: #0a6986;
  --gray: #8a8a8a;
  --border-color: #e4e6ea;
  --shadow: 0px 4px 40px 0px #eee, 0px 4px 8px 0px rgba(66, 71, 76, 0.05),
    0px 0px 0.5px 0px rgba(66, 71, 76, 0.32);

  /* FONT FAMILIES */
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  /* TRANSITION */
  --transition: all 0.4s ease-in;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  font-family: var(--secondary-font);
}

.text-gray {
  color: var(--gray);
}

.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.text-black {
  color: var(--black);
}
.text-dark-black {
  color: var(--dark-black);
}

.font-primary {
  font-family: var(--primary-font) !important;
}

.font-secondary {
  font-family: var(--secondary-font) !important;
}

/* CUSTOM SCROLLBAR */
body::-webkit-scrollbar {
  width: 0.7rem;
  border-radius: 50%;
}

body::-webkit-scrollbar-thumb {
  border: 0.15rem solid var(--white);
  border-radius: 1rem;
  background: var(--primary);
  transition: var(--transition);
}

body::-webkit-scrollbar-thumb:hover {
  background: #3fab7a;
}

body::-webkit-scrollbar-track {
  background-color: var(--white);
}

h1 {
  font-size: 4.5rem !important;
  font-weight: 700 !important;
  color: var(--black);
  font-family: var(--secondary-font);
}

h2 {
  font-size: 3rem !important;
  font-weight: 600 !important;
  color: var(--dark-black);
  font-family: var(--secondary-font);
}

h3 {
  font-size: 2.2rem !important;
}

h4 {
  font-size: 2rem !important;
  color: var(--black);
  font-weight: 700;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--secondary);
  font-family: var(--secondary-font);
}

.padding-block {
  padding-block: 9rem;
}

.margin-block {
  margin-block: 9rem;
}

/* CUSTOM BTN */
.btn-primary {
  width: 32% !important;
  height: 4rem !important;
  display: block !important;
  border-radius: 12px !important;
  gap: 8px !important;
  font-size: 1.5rem !important;
  background: var(--primary) !important;
  color: #fff !important;
  border: none !important;
  font-weight: 500 !important;
  transition: var(--transition);
}

.btn-primary:hover,
.btn-primary:focus {
  color: #fff !important;
  background: var(--secondary) !important;
  cursor: pointer;
}
.btn-secondary {
  /* width: 32% !important;
  height: 4rem !important; */
  padding: 1rem 6rem !important;
  margin-inline: auto !important;
  border-radius: 12px !important;
  gap: 8px !important;
  font-size: 1.5rem !important;
  background: var(--dark-black) !important;
  color: var(--white) !important;
  border: none !important;
  font-weight: 500 !important;
  transition: var(--transition);
}

/* .btn-primary:hover,
.btn-primary:focus {
  color: #fff !important;
  background: #0b0b1391 !important;
  cursor: pointer;
} */

/* TOP SCROLL BUTTON SECTION */
.top-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  color: var(--dark-black);
  z-index: 1000;
  box-shadow: 0 0.2rem 0.4rem rgba(85, 230, 165, 0.5);
  cursor: pointer;
  opacity: 0;
  z-index: 1000;
  transition: var(--transition);
}

.top-btn:hover,
.top-btn:focus {
  box-shadow: 0 0.2rem 1.5rem rgba(85, 230, 165, 0.5);
  color: var(--white);
  background-color: var(--primary);
}

.top-icon {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
}

.top-icon::before {
  content: "";
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  transition: var(--transition);
}

.top-icon:hover::before {
  background-color: var(--primary);
}

.icon-animate {
  animation: topBtn 0.5s linear;
  opacity: 1;
}

@keyframes topBtn {
  0% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.icon-animation {
  animation: iconAnimation 1.5s infinite alternate-reverse;
  display: block;
}

@keyframes iconAnimation {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

/* ------------------------------- NAVBAR SECTION ---------------------------------- */
.header_section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  box-shadow: 0 0.8rem 1.2rem rgba(59, 187, 90, 0.15);
}

header {
  background-color: var(--light-primary);
  display: none;
}

header p {
  font-size: 1.4rem !important;
}

.navbar {
  background-color: var(--white) !important;
  width: 100%;
  border-bottom: 0.1rem solid var(--light-white);
}

.navbar-brand img {
  width: 100px;
  height: 50px;
  object-fit: cover;
}

.nav-item {
  margin-right: 1.5rem;
}

.nav-item .nav-link {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--primary-font);
  color: var(--dark-black);
  position: relative;
  transition: var(--transition);
}

.nav-item .nav-link.active {
  color: var(--primary) !important;
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover,
.nav-item .nav-link:focus {
  color: var(--primary);
}

.nav-item .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 2px;
  background-color: var(--primary);
  opacity: 0;
  transition: var(--transition);
}

.nav-item .nav-link.active::before,
.nav-item .nav-link:hover::before,
.nav-item .nav-link:focus::before {
  opacity: 1;
}

.nav-btn button {
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.3rem;
  background-color: var(--primary);
  transition: var(--transition);
  color: #fff;
  transition: 0.2s all;
  border: 0px;
}
.nav-btn button.nav-link {
  background-color: var(--secondary);

}

.nav-btn button:hover,
.nav-btn button:focus {
  background-color: var(--secondary);
  color: #fff;
}
.nav-btn button.nav-link:hover,
.nav-btn button.nav-link:focus {
  background-color: var(--primary);
}

.dropdown-menu {
  min-width: 14rem !important;
  border-bottom: 0.2rem solid var(--primary) !important;
  border-radius: 0.5rem 0.5rem 1rem 1rem !important;
  overflow-x: hidden;
}

.dropdown-menu[data-bs-popper] {
  top: 120% !important;
  padding-block: 0px !important;
}

.dropdown-item {
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--primary-font);
  color: var(--dark-black);
  padding-block: 0.4rem !important;
  cursor: pointer;
  transition: var(--transition);
}

/* ------------------------------- HERO SECTION ---------------------------------- */
.hero_section {
  width: 100%;
  padding-top: 10rem;
  background-color: var(--secondary);
  color: #fff;
}

.hero_content h1 {
  max-width: 420px;
}
.hero_content p {
  font-size: 1.6rem;
  font-family: var(--primary-font);
  font-weight: 500 !important;
  color: #fff;
}

.hero_content .content {
  font-family: var(--primary-font);
  text-align: justify;
  text-align-last: left;
}

.hero_bar {
  max-width: 350px;
  height: 55px;
  border-radius: 1rem;
  border: 1px solid #e4e6ea;
  padding: 4px;
  box-shadow: 0px 6px 24px rgb(0 0 0 / 10%);
  cursor: pointer;
  transition: var(--transition);
}

.hero_bar:focus {
  border-color: var(--dark-black);
}

.hero_bar .form-control {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  transition: var(--transition);
}

.hero_bar button {
  width: 4.5rem;
  height: 100%;
  border-radius: 1rem;
  border: none;
  background-color: var(--primary);
  color: var(--white);
  font-size: 1.5rem;
  transition: var(--transition);
}

.hero_bar button:focus,
.hero_bar button:hover {
  color: var(--white);
  background-color: var(--secondary);
}

/* ------------------------------- BENEFIT SECTION ---------------------------------- */
.benefit_section {
  background: url(../image/hero-bg.svg) center;
  background-size: cover;
  display: none;
}
.home_benefit_section .col-sm-6 {
  margin-bottom: 18px;
}
.benefit_card  {
  padding: 25px 15px;
  border-radius: 8px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  height: 100%;
}
.benefit_img img {
  padding: 10px;
  background: var(--primary);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

/* ------------------------------- DESTINATION SECTION ---------------------------------- */
.dest-card {
  padding: 3rem 0 0 3rem;
  border-radius: 1rem;
  background: #fff;
  border: 1px solid #e4e6ea;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.dest-card:hover {
  border-color: var(--dark-black);
}

.flag {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.1rem solid var(--white);
  box-shadow: var(--shadow);
}

.btn-img img {
  cursor: pointer;
  border-bottom-right-radius: 1rem;
}

/* ------------------------------- PLAN, Refund AND REVIEW SECTION ---------------------------------- */

.plan_header p {
  font-size: 1.5rem;
  font-weight: 400;
}

.refund_section {
  background-color: var(--secondary);
  color: #fff;
  padding: 25px 10px;
  border-radius: 5px;
}
.refund_section p {
  color: #fff;
  opacity: 0.8;
}
.refund_section .btn-secondary {
  background: var(--primary) !important;
  border: 2px solid var(--primary) !important;
}
.refund_section .btn-secondary:hover {
  background: transparent !important;
  color: var(--primary) !important;
}

.review_header {
  padding-bottom: 2rem !important;
}

.review-content i {
  text-align: left;
  font-size: 32px;
  display: block;
  color: var(--primary);
  margin-bottom: 5px;
}
.review-content p {
  color: #000;
  opacity: 0.8;
}

.review-img img {
  width: 6.5rem;
  height: 6.5rem;
  object-fit: cover;
}

.review_star i {
  color: rgb(253, 204, 13);
}

.swiper {
  padding-bottom: 3rem !important;
}

.swiper-pagination-bullet {
  width: 0.8rem !important;
  height: 0.8rem !important;
  border-radius: 0px !important;
  transform: rotate(45deg);
}

.swiper-pagination-bullet-active {
  background-color: var(--primary) !important;
}

/* ------------------------------- GOOD BYE SECTION   ---------------------------------- */
.good-bye-body {
  padding-block: 5rem !important;
  background: url(../image/good-bye/goodbye-img.webp) no-repeat center;
}

.good-by-btn {
  padding: 0.5rem 1.5rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  border: 0.1rem solid var(--dark-black);
  background-color: var(--white);
}

/* ------------------------------- ABOUT PAGE START  ---------------------------------- */
.about_header {
  margin-top: 5rem;
  width: 100%;
  height: 50vh;
  background: url(../image/about-bg.jpg) no-repeat center;
  background-size: cover;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.page_header_link {
  color: var(--white) !important;
  text-decoration: none !important;
}

/* ------------------------------- FAQ PAGE ---------------------------------- */

.faq_section {
  /* background-color: #fafafa; */
  padding: 4rem 0px;
}
.faq_header {
  width: 100%;
  padding-bottom: 3rem;
  text-align: center;
}

.faq_search_bar {
  width: 100%;
  height: 4rem;
  border-radius: 2rem;
  border: 0.1rem solid var(--light-white);
}

.faq_search_bar:focus {
  border-color: var(--primary);
}

.faq_search_bar .form-control {
  border: none;
  height: auto;
  font-size: 1.4rem;
  padding-left: 1rem;
  border-radius: 2rem;
  border: none;
  transition: var(--transition);
}

.faq_search_bar .form-control:focus {
  outline: none;
  box-shadow: none;
}

.faq_search_bar button {
  width: 3.5em;
  height: 3.2rem;
  border: none;
  font-size: 1.4rem;
  border-radius: 2rem;
  color: var(--white);
  background-color: var(--primary);
  transition: var(--transition);
}

.faq_search_bar button:hover,
.faq_search_bar button:focus {
  background-color: var(--secondary);
}

.accordion-item {
  border-radius: 1rem !important;
}

.accordion-button {
  padding-block: 2rem !important;
  font-size: 1.5rem !important;
  border-bottom: 0.1rem solid var(--light-white) !important;
  border-radius: 1rem !important;
}

.accordion-button:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: var(--primary) !important;
}

.accordion-button:not(.collapsed) {
  background-color: var(--primary) !important;
  color: var(--white) !important;
  border-color: var(--primary);
}

.accordion-body {
  font-size: 1.5rem !important;
  color: var(--gray);
  text-align: justify;
  text-align-last: left;
}

/* ------------------------------- WORK  PAGE SECTION ---------------------------------- */
.work_header {
  padding: 5rem 0px;
  background: url(../image/work/work-bg.webp) no-repeat;
  background-size: cover;
}

.work_card {
  padding: 4rem 3rem;
  border-radius: 2.5rem;
  border: 0.1rem solid var(--border-color);
  cursor: pointer;
  transition: var(--transition);
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.work_card:hover,
.work_card:focus {
  border: 0.1rem solid var(--primary);
  box-shadow: 0 0.5rem 1rem rgba(59, 187, 90, 0.5);
}

.work_card_img img {
  width: 15rem;
  height: auto;
  object-fit: cover;
  display: block;
  margin-inline: auto;
}

.bottom-icon img {
  display: block;
  margin-inline: auto;
  margin-block: 4rem;
  animation: topBottom 1s infinite alternate-reverse;
}

@keyframes topBottom {
  0% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(-1rem);
  }
}

/* ------------------------------- ABOUT MAKE CARD SECTION ---------------------------------- */
.about-make-card {
  width: 100%;
  height: 40rem;
  padding: 0 3rem 3rem 3rem;
  border-radius: 2.5rem;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 33.81%,
      #000000 93.18%
    ),
    url(../image/about-card.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.inner_card {
  padding: 4rem 2.5rem;
  border-radius: 2.5rem !important;
  border: 0.1rem solid var(--border-color);
}

.card-img {
  background-image: linear-gradient(
    214.35deg,
    rgba(242, 253, 235, 0.6) -36.9%,
    rgba(224, 244, 253, 0.6) 98.08%
  );
}

.shape_img {
  position: absolute;
  top: 0;
  right: 0;
}

.mission_section {
  border: 0.1rem solid var(--border-color);
  border-radius: 2.5rem;
}

.mission_content {
  padding: 4rem;
}

/* ------------------------------- WORK SECTION ---------------------------------- */
.device_filter_btn {
  max-width: 35%;
  height: 5rem;
  border-radius: 5rem;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-inline: auto;
}

.device_filter_btn button {
  width: 46%;
  height: 3.5rem;
  border-radius: 5rem;
  font-size: 1.4rem;
  color: var(--white);
  background-color: transparent;
  border: 0.1rem solid transparent;
  transition: var(--transition);
}

.device_filter_btn button.active {
  background-color: var(--primary);
  border: 0.1rem solid var(--white);
}

.shape_img_one img {
  width: 15rem;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: -6rem;
  right: 10rem;
}
.shape_img_two img {
  width: 15rem;
  height: auto;
  object-fit: cover;
  position: absolute;
  bottom: 0rem;
  left: 5%;
  z-index: -1;
}

.play_btn {
  width: 9rem;
  height: 9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  transition: var(--transition);
}

.play_btn:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

.installation_filter_btn {
  max-width: 60%;
  height: 5rem;
  border-radius: 5rem;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-inline: auto;
}

.installation_filter_btn button {
  width: 46%;
  height: 3.5rem;
  border-radius: 5rem;
  font-size: 1.4rem;
  color: var(--white);
  background-color: transparent;
  border: 0.1rem solid transparent;
  transition: var(--transition);
}

.installation_filter_btn button.active {
  background-color: var(--primary);
  border: 0.1rem solid var(--white);
}

.install_section {
  padding: 4rem;
  border: 2.5rem;
  border: 0.1rem solid var(--dark-black);
}

.install_img img {
  width: 20rem;
  height: auto;
  object-fit: cover;
}

.install_res_content {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid var(--black);
  border-radius: 1.5rem;
}

/* START CARD SECTION */
.start_card {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 0 2rem;
  border: 0.1rem solid var(--border-color);
  box-shadow: var(--shadow);
  border-radius: 2.5rem;
}

.start_badge {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  border-radius: 0.5rem;
  color: var(--white);
  background-color: var(--primary);
}

/* STEP CARD */
.step_card {
  height: 20rem;
  padding: 4rem 3rem;
  flex-direction: column;
  border: 0.1rem solid var(--border-color);
  border-radius: 2rem;
  box-shadow: var(--shadow);
}

.step_img img {
  width: 20rem;
  display: block;
  z-index: 10;
  margin-inline: auto;
  margin-top: -8rem;
}

/* ESIM SECTION */

.esim_card {
  border: 0.1rem solid var(--border-color);
  border-radius: 2rem;
  box-shadow: var(--shadow);
}

.esim_img img {
  width: 100%;
  height: auto;
}

.talk_card {
  border: 0.1rem solid var(--border-color);
  border-radius: 2rem;
  background-color: var(--secondary);
  z-index: 1;
  overflow: hidden;
  margin-bottom: 30px;
}
.talk_card h3{
  color: #fff;
}
.talk_card p{
  color: #fff;
  opacity: 0.8;
}


/* ------------------------------- CONTACT PAGE SECTION ---------------------------------- */
.contact_hero {
  width: 100%;
  margin-top: 10rem;
  padding: 10rem 0;
  background: url("/image/contact/contact-bg.webp") no-repeat center;
  background-size: cover;
}

.contact-card-section {
  border-radius: 1rem;
  box-shadow: var(--shadow);
  padding: 1rem;
}

.contact_card_design {
  margin-top: -7rem;
  z-index: 10;
}

.contact_card {
  padding: 1.5rem;
  border: 0.1rem solid var(--border-color);
  border-radius: 1rem;
  background-position: top -25px right -32px;
  background-repeat: no-repeat;
  background-size: 150px;
  cursor: pointer;
  transition: var(--transition);
}

.contact_card:hover,
.contact_card:focus {
  border-color: var(--dark-black);
}

.contact_card img {
  width: 4rem;
  height: auto;
  object-fit: cover;
}

.contact-card-btn i {
  font-size: 1.8rem;
}

.line {
  margin-block: 5rem;
  width: 4rem;
  height: 0.2rem;
  background-color: var(--dark-black);
  margin-inline: auto;
}

.contact_form {
  margin-top: 20px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.contact_form .form-input,
.contact_form .form-select {
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--border-color);
  font-size: 1.4rem !important;
  transition: var(--transition);
}

textarea {
  width: 100%;
  border-radius: 1rem !important;
  border-radius: 1rem;
  border: 0.1rem solid var(--border-color);
  font-size: 1.4rem !important;
  padding: 1rem 0 0 1rem !important;
  transition: var(--transition);
}

.contact_form .form-input:focus,
.contact_form .form-select:focus,
.contact_form textarea:focus {
  border-color: var(--dark-black);
  box-shadow: none !important;
  outline: none !important;
}

.form-check-input {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.form-check-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-check-label {
  font-size: 1.4rem !important;
}

.question {
  padding: 10rem 3.5rem;
  border-radius: 3rem;
  background: url(..//image/contact/question-bg.webp) no-repeat center;
  background-size: cover;
}

.question_two {
  padding: 11.5rem 3.5rem;
  border-radius: 3rem;
  background: url(../image/contact/question-bg.webp) no-repeat center;
  background-size: cover;
}

.question_content {
  width: 100%;
  max-width: 28rem;
}

.question-img img {
  position: absolute;
  top: -8rem;
  right: 0;
  width: 25rem;
  height: auto;
  object-fit: cover;
}

/* ------------------------------- FOOTER SECTION ---------------------------------- */
footer {
  padding-top: 8rem;
  background-color: #cccccc6e;
}

.footer_content p {
  text-align: justify;
  text-align-last: left;
  font-size: 1.5rem;
  color: var(--secondary);
}

.footer_link li a {
  display: inline-block;
  margin-bottom: 0.6rem;
  padding: 0.2rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--secondary);
  text-transform: capitalize;
  position: relative;
  transition: var(--transition);
}

.footer_link li a:hover,
.footer_link li a:focus {
  color: var(--primary);
  font-weight: 600;
}

.footer_link li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.15rem;
  border-radius: 2rem;
  background-color: var(--primary);
  transition: var(--transition);
}

.footer_link li a:hover::before,
.footer_link li a:focus::before {
  width: 100%;
}

.footer_icon i {
  width: 3.5rem;
  height: 3.5rem;
  display: grid;
  place-items: center;
  font-size: 1.6rem;
  border-radius: 50%;
  color: var(--secondary);
  border: 0.1rem solid var(--secondary);
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: var(--transition);
}

.footer_icon i::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary);
  z-index: -1;
  transform: scale(0);
  transition: var(--transition);
}

.footer_icon i:hover,
.footer_icon i:focus {
  border-color: var(--primary);
  color: var(--white);
}

.footer_icon i:hover::after,
.footer_icon i:focus::after {
  transform: scale(1);
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}
.subscribe_input .form-control {
  width: 100%;
  height: 4.2rem;
  border-radius: 0px;
  font-size: 1.4rem;
  border: 0.1rem solid var(--gray);
  transition: var(--transition);
}

.subscribe_input .form-control:focus {
  border-color: var(--primary);
}

.btn-footer {
  padding-inline: 2.5rem;
  height: 4.2rem;
  color: var(--white);
  background-color : var(--primary);
  border: 0.1rem solid transparent;
  font-size: 1.4rem;
}

.subfooter p {
  font-size: 1.4rem;
  font-weight: 600;
}

/* ------------------------------- animation SECTION ---------------------------------- */

.anm_mod {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  transition: all 1s ease;
}
.anm_mod.down {
  transform: translate3d(0, -100%, 0);
}
.anm_mod.left {
  transform: translate3d(-100%, 0, 0);
}
.anm_mod.right {
  transform: translate3d(100%, 0, 0);
}
.anm_mod.delay {
  transition: all 2s ease;
}
.anm_mod.fast {
  transition: all 0.8 ease;
}
.anm_mod.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}


/* ------------------------------- Jumbotron ---------------------------------- */
.pages-jumbotron{
  margin-top: 66px;
  padding-top: 48px;
  padding-bottom: 48px;
  min-height: 50vh;
  background-image: url(../image/jumbotron.png);
  background-size: cover;
  background-position: center;
  color: #fff;
  display:flex;
  align-items:center;
  text-align: center;
  justify-content: center;
  position: relative;
}
.pages-jumbotron.about-jumbotron{
  min-height: 250px;
}
.pages-jumbotron::before {
  width: 100%;
  height: 100%;
  background-color: #0a698649;
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
}
.pages-jumbotron h1 {
  font-size: 72px;
  color: #fff;
  position: relative;
}
.pages-jumbotron p {
  font-size: 22px;
  max-width: 850px;
  margin: auto;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}
.pages-jumbotron .btn-primary {
  padding-top: 9px;
  position: relative;
}

.bg-theme-secondary {
  background-color: var(--secondary);
}
.bg-theme-secondary .font-secondary {
  color: #fff;
}
.bg-fafafa {
  background-color: #fafafa;
}
.find_section .find_card {
  padding: 5px;
  border-radius: 5px;
  height: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}